                                       @import url('https://fonts.googleapis.com/css?family=Open+Sans');
                                       * {
                                           box-sizing: border-box;
                                           margin: 0;
                                           padding: 0;
                                       }
                                       
                                       body {
                                           font-family: 'Open Sans', sans-serif;
                                           color: #222;
                                           padding-bottom: 50px;
                                       }
                                       
                                       .container1 {
                                           max-width: 1200px;
                                           margin: 0 auto;
                                       }
                                       #action{display: flex;}
                                       
                                       .nav1 {
                                           position: fixed;
                                           background-color: #222;
                                           top: 0;
                                           left: 0;
                                           right: 0;
                                           transition: all 0.3s ease-in-out;
                                       }
                                       
                                       .nav1 .container1 {
                                           display: flex;
                                           justify-content: space-between;
                                           align-items: center;
                                           padding: 20px 0;
                                           transition: all 0.3s ease-in-out;
                                       }
                                       
                                       .nav1 ul {
                                           display: flex;
                                           list-style-type: none;
                                           align-items: center;
                                           justify-content: center;
                                       }
                                       
                                       .animal {
                                           display: flex;
                                           list-style-type: none;
                                           align-items: center;
                                           justify-content: center;
                                       }
                                       
                                       .nav1 a {
                                           color: yellow;
                                           text-decoration: none;
                                           padding: 7px 15px;
                                           transition: all 0.3s ease-in-out;
                                       }
                                       
                                       .life {
                                           color: yellow;
                                       }
                                       
                                       .nav.active {
                                           background-color: #fff;
                                           box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
                                       }
                                       
                                       .nav.active a {
                                           color: #000;
                                       }
                                       
                                       .nav.active .container {
                                           padding: 10px 0;
                                       }
                                       
                                       .nav a.current,
                                       .nav a:hover {
                                           color: #c0392b;
                                           font-weight: bold;
                                       }
                                       
                                       .hero1 {
                                           background-image: url('https://images.pexels.com/photos/2343011/pexels-photo-2343011.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
                                           background-repeat: no-repeat;
                                           background-size: cover;
                                           background-position: bottom center;
                                           height: 100vh;
                                           color: #fff;
                                           display: flex;
                                           justify-content: center;
                                           align-items: center;
                                           text-align: center;
                                           position: relative;
                                           margin-bottom: 20px;
                                           z-index: -4;
                                           /* top: 0; */
                                       }
                                       
                                       .hero::before {
                                           content: '';
                                           position: absolute;
                                           top: 0;
                                           left: 0;
                                           width: 100%;
                                           height: 100%;
                                           background-color: rgba(0, 0, 0, 0.5);
                                           z-index: -1;
                                       }
                                       
                                       .hero h1 {
                                           font-size: 46px;
                                           margin: -20px 0 20px;
                                       }
                                       
                                       .hero p {
                                           font-size: 40px;
                                           letter-spacing: 1px;
                                                    }
                                       
                                       .content h2,
                                       .content h3 {
                                           font-size: 150%;
                                           margin: 20px 0;
                                       }
                                       
                                       .content p {
                                           color: #555;
                                           line-height: 30px;
                                           letter-spacing: 1.2px;
                                       }
                                       
                                       /* .qoute {
                                           font: weight 800px;;
                                           color: rgb(0, 255, 85);
                                       } */
                                       
                                      .image {
                                           border-radius: 50%;
                                           height: 200px;
                                           width: 200px;
                                       }
                                       
                                       .five {
                                           margin-top: 50px;
                                       }
                                       
                                       .animal {
                                           margin-top: 100px;
                                           display: flex;
                                           justify-content: space-between;
                                           align-items: center;
                                           padding: 20px 0;
                                           transition: all 0.3s ease-in-out;
                                       }
                                       /* //////////// ///////*/
                                       .menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: #373737;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #444;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/portrait.jpg");
      border-radius: 50%;
      border: solid 3px #eece1a; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #eece1a; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: chartreuse;
        transform: scale(1.25)
}

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #444;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-img {
    background: url(../img/background.jpg);
    background: rgba(68, 68, 68, 0.9), url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; } 

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(73, 73, 73, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #eece1a; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #eece1a;
        transition: all 0.5s ease-out; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: #eece1a 3px solid; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
  .about-info .job-1 {
    grid-area: job1; }
  .about-info .job-2 {
    grid-area: job2; }
  .about-info .job-3 {
    grid-area: job3; }
  .about-info .job {
    background: #515151;
    padding: 0.5rem;
    border-bottom: #eece1a 5px solid; }

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .projects img {
    width: 100%;
    border: 3px #fff solid; }
    .projects img:hover {
      opacity: 0.5;
      border-color: #eece1a;
      transition: all 0.5s ease-out; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #eece1a;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #eece1a;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #c4c4c4;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  background: #2b2b2b;
  color: #fff;
  height: 60px;
width: 100%;
margin-bottom: 0px; }
  

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      background: url("../img/portrait_small.jpg");
      width: 150px;
      height: 150px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bio' 'job1' 'job2' 'job3';
    grid-template-columns: 1fr; }
  .projects {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  .projects {
    grid-template-columns: 1fr; } }
.mission{    background: rgba(8, 236, 19, 0.5); 
margin-top: 10px;
    width: 100%;}
    #mission{
font-weight: 800;    }
#passage{font-weight: 500;}
.jossy1{ 
   display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease-in-out;}
  .jossy{
    height: 200px;
    width: 200px;
    margin-left: 0px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
 }
  .jossy2{    
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: green;
    height: 200px;
    width: 200px;
    z-index: -2;
}
.category{display: flex;
align-items: center;
justify-content: center;
font-weight: 800;
color: green;}
.lion{  z-index: 2;
  margin-top: -70px;
  color: #eece1a;
}
